.speech {
    color: black;
    font-family: "Airal", sans-serif;
    font-size: 16px;
}

.direction {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
    color: red;
    background-color: lightgrey;
}

.direction:hover {
    background-color: #2980b9;
    color: #fff;
}


.name {
    font-family: "Gill Sans";
    font-size: 18px;
    font-weight: bold;
}

.hovstad {
    color: orange;
}

.voices {
    color: rgb(51, 220, 51);
}

.drstockmann {
    color: purple;
}

.peterstockmann {
    color: blue;
}

.table1 table {
    border-collapse: separate;
    width: 100%;
    border: 2px solid black;
}

.table1 th 
.table1 td {
    border: 2px solid black;
    padding: 8px;
    margin: 10px;
    text-align: right;
    border-bottom: 1px solid black;
}

.table1 tr:nth-child(even) {
    background-color: lightblue;
}

.table1 tr:nth-child(odd) {
    background-color: lightpink;
}
